<style>


    body {
        background-color: lightblue;
    }

    h1 {
        color: navy;
        margin-left: 20px;
    }


</style>




<h1>Enter the key search </h1>

<form action="/test/submit" method="get">
    <input type="text" name="id">
    <button type="submit">Submit</button>
</form>