<h1>the result of the Monogo</h1>
<p> the passing is {{Text}}</p>

    {{# each item }}
        <ul>
            <li>text {{this.text}}</li>
        </ul>
    {{/each}}
<div>
<form action="/return" method="get">
    <button type="back">back</button>
</form>
</div>